################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rover/obj/Debug/net7.0
/Rover/bin/Debug/net7.0
